*{
    margin: 0;
    padding: 0;
}
.error-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.error-img{
width: 400px;
height: 300px;
}
.error-heading{
font-size: 54px;
font-weight: 700;
}
.error-title{
    width: 381px;
    color:  #4F4F4F;
font-size: 24px;
letter-spacing: -0.84px;
margin: 30px 0px;
}
.error-btn{
    width: 216px;
height: 68px;
background-color: black;
color: white;
}
@media screen and (min-width:300px) and (max-width:576px){
    .error{
        
    }
    .error-section{
        flex-direction: column;
        padding-left: 50px;
    }
    .error-msg{
        text-align: start;
    }
    .error-heading{
        font-size: 35px;
        }
    .error-title{
        width: 80%;
        font-size: 15px;
        line-height: 1.5rem;
    }
    .error-img {
        width: 300px;
        height: 300px;
        /* margin-right: 189px;
        margin-top: 43px;
        margin-left: 90px; */
        margin: 50px auto;

    }
    .error-description{
        padding-bottom: 30px;
    }
}